[submodule "modules/stylizer/api"]
	path = modules/stylizer/api
	url = https://github.com/doxy-ai/stylizer.api
[submodule "modules/stylizer/core/thirdparty/hlslpp"]
	path = modules/stylizer/core/thirdparty/hlslpp
	url = https://github.com/redorav/hlslpp.git
